---
import { getCollection } from 'astro:content';

import PostCard from '@/components/PostCard.astro';
import BasicLayout from '@/layouts/BasicLayout.astro';
const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---
<BasicLayout client:load>
  <div class="pt-30">
    <div class="mx-auto max-w-3xl md:max-w-lg lg:max-w-3xl py-0 px-5">
      <section class="">
        <ul class="lg:flex lg:flex-row lg:flex-wrap lg:justify-between">
          {
            posts.map((post: any) => (
              <li class="w-full mb-7 lg:w-[47%] ">
                <PostCard post={post} class="" />
              </li>
            ))
          }
        </ul>
      </section>
    </div>
  </div>
</BasicLayout>
