---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<div
  data-sidebar-content
  class={`flex min-h-0 flex-1 flex-col gap-2 overflow-auto ${className}`}
>
  <slot />
</div>

