---
import BasicLayout from '@/layouts/BasicLayout.astro';

const introduction =
  "Hello everyone, I'm Kevin from China. I graduated from the University of Southern California with a Master of Science degree in Computer Science. I am a front-end development engineer. Outside of coding, I am passionate about playing computer games, watching movies, and learning about the latest cutting-edge development technologies.";
---

<BasicLayout>
  <div class="min-h-dvh flex flex-col items-center overflow-hidden w-full">
    <div
      class="w-full h-dvh flex flex-col items-center align-middle justify-center text-lg text-center px-4 bg-content-background-2"
    >
      <h2
        class="font-train-one text-8xl font-extrabold text-center mb-20"
        data-slot="education-title"
      >
        ABOUT ME
      </h2>
      <div class="max-w-3xl mx-auto text-left">
        <p class="text-lg/loose">
          {introduction}
        </p>
      </div>
    </div>
</BasicLayout>

